@use "./../../abstract/" as abs;

.#{$rt-namespace}__toast {
  position: relative;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  overflow: hidden;
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  /* webkit only issue #791 */
  z-index: 0;

  &--rtl {
    direction: rtl;
  }
  &--close-on-click {
    cursor: pointer;
  }
  &-body {
    margin: auto 0;
    flex: 1 1 auto;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    & > div:last-child {
      word-break: break-word;
      flex: 1;
    }
  }
  &-icon {
    margin-inline-end: 10px;
    width: initial;
    flex-shrink: 0;
    display: flex;
  }
}

.#{$rt-namespace}__toast--warning {
  outline: 2px solid var(--tr-warning);
  background-color: #f9f6e3 !important;
}

.#{$rt-namespace}__toast--success {
  outline: 2px solid var(--tr-success);
  background-color: #e8fbec !important;
}

.#{$rt-namespace}__toast--success {
  outline: 2px solid var(--tr-info);
  background-color: #e0f3fc !important;
}

.#{$rt-namespace}__toast--error {
  outline: 2px solid var(--tr-error);
  background-color: #f9ebe9 !important;
}

.#{$rt-namespace}--animate {
  animation-fill-mode: both;
  animation-duration: 0.7s;
}

.#{$rt-namespace}--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}

@media #{$rt-mobile} {
  .#{$rt-namespace}__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
