@use "../abstract" as abs;
@use "../components";

.topbar-section {
  z-index: 1100;
  position: fixed;
  width: inherit;
  background-color: abs.$primary-color;
  height: 5rem;
  border-bottom: 1.5px solid abs.$secondary-color-10;
  @include abs.backdrop-blur(2rem);

  .topbar-top-section {
    height: inherit;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 1024;
    padding: 0.75rem 1.5rem;

    .topbar-profile-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--tr-secondary);
      cursor: pointer;
    }

    .topbar-navigation-bar {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: stretch;

      height: 2.75rem;
      padding: 0 1rem;
    }

    .topbar-nav-link {
      text-align: center;

      font-size: 1rem;
      font-weight: 600;
      color: abs.$secondary-color-80;

      @include abs.border-radius(0.75rem);

      padding: 0 1.25rem;
      height: 2.75rem;

      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(abs.$secondary-color, 0.075);
      }
    }

    a.active.topbar-nav-link {
      color: var(--tr-accent);
      font-weight: bold;
    }
  }

  .topbar-bottom-section {
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    gap: 2rem;

    padding: 0.5rem;
    background-color: var(--primary);

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      color: abs.$secondary-color-80;
      padding: 0.25rem 1rem;
      @include abs.border-radius(0.5rem);
    }

    & > a.active {
      background-color: abs.$accent-color-20;
      color: var(--tr-accent);
      font-weight: 600;
    }
  }

  li:has(a) {
    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }
}
