@use "../abstract" as abs;
@use "../components";

.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--tr-secondary);
  cursor: pointer;
}

.navigation-bar Link {
}
