@use "./../abstract/" as abs;

div:has(.upload-container) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1300;

  display: flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
  }

  .upload-portal {
    position: absolute;
    top: inherit;
    left: inherit;
    width: inherit;
    min-height: inherit;
    background-color: abs.$secondary-color-50;
  }

  .upload-container {
    position: relative;
    left: 0;
    top: 0;

    background-color: abs.$primary-color;

    @include abs.box-shadow(0 0 1rem rgba(abs.$secondary-color, 0.05));

    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: abs.$secondary-color-20;
      border-radius: 10px;
      border: 1.5px solid transparent;
      background-clip: padding-box;
      display: none;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        display: block;
      }
    }

    input[name="title"] {
      color: abs.$secondary-color;
      background-color: transparent;
      outline: none;
      width: 90%;
      overflow: hidden;
      margin-top: 0.5rem;
      padding: 0.25rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;

      &::placeholder {
        color: abs.$secondary-color;
      }
    }

    .upload-text-input {
      color: abs.$secondary-color;
      background-color: transparent;
      resize: none;
      outline: none;
      width: 100%;
      overflow: hidden;
      padding: 0.25rem;
      font-weight: 500;

      &::placeholder {
        color: abs.$secondary-color-50;
      }
    }

    .upload-dropzone {
      // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23F4694DFF' stroke-width='2' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
      border-radius: 0.25rem;
      margin-bottom: 1rem;
      padding: 1rem;
    }
  }
}
