@use "abstract";
@use "layouts";
@use "containers";
@use "utils";
@use "components";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  color-scheme: light dark;
}

body {
  font-family: abstract.$plain-text-font, "sans-serif", "serif";
  font-size: 16px;
  font-weight: 500;
  min-height: 100vh;
  color: var(--tr-secondary);
  background-color: var(--tr-primary);

  margin: 0;
  padding: 0;
  border: none;
}

image,
img,
picture,
svg,
video {
  max-width: 100%;
}

form,
input,
button,
select,
textarea {
  accent-color: var(--tr-accent);
  font: inherit !important;
}

::selection {
  background: var(--tr-accent);
}
