@use "abstract";
@use "layouts";
@use "containers";
@use "utils";
@use "components";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: abstract.$plain-text-font, 'sans-serif', 'serif';
  font-size: 16px;
  color: inherit;
  background-color: var(--tr-primary);
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

form {
  accent-color: var(--tr-accent);
}

::selection {
  background: var(--tr-accent);
}