@use "abstract";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: abstract.$plain-text-font, 'sans-serif', 'serif';
  font-size: 16px;
  color: inherit;
  background-color: abstract.$primary;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

form {
  accent-color: abstract.$accent_color;
}

::selection {
  background: abstract.$accent_color;
}