

$primary: #F9FBFC;

$sa-color: #E9EFF2;

$accent_color: #F4694D;
$accent_color_95: #F4694D95;
$accent_color_90: #F4694D90;
$accent_color_80: #F4694D80;
$accent_color_70: #F4694D70;
$accent_color_60: #F4694D60;
$accent_color_50: #F4694D50;
$accent_color_40: #F4694D40;
$accent_color_30: #F4694D30;
$accent_color_20: #F4694D20;
$accent_color_10: #F4694D10;

$secondary_color: #1A212F;
$secondary_color_90: #1A212F90;
$secondary_color_80: #1A212F80;
$secondary_color_70: #1A212F70;
$secondary_color_60: #1A212F60;
$secondary_color_50: #1A212F50;
$secondary_color_40: #1A212F40;
$secondary_color_30: #1A212F30;
$secondary_color_20: #1A212F20;
$secondary_color_10: #1A212F10;