@use "./../abstract/mixin" as mixin;

div.artcard--container {
  img {
    display: inline-block;
    min-height: 15rem;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mixin.border-radius(0.5rem);
  }

  div.artcard--blurhash {
    position: absolute !important;

    canvas {
      position: relative !important;
    }
  }
}
