@use "../abstract" as abs;

//--------------------------- abstract ----------------------------

button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button-accent {
  &:hover {
    background-color: darken(abs.$accent-color-10, 5);
  }

  &:focus-visible {
    outline: 2px solid abs.$accent-color-50;
  }

  &:active {
    box-shadow: inset 1px 1px 10px abs.$accent-color-30;
  }
}

.button-primary {
  &:hover {
    background-color: darken(abs.$primary-color-70, 5);
  }

  &:focus-visible {
    outline: 2px solid abs.$accent-color-10;
  }
}

.button-secondary {
  &:focus-visible {
    outline: 2px solid abs.$secondary-color-50;
  }

  &:active {
    box-shadow: inset 1px 1px 10px abs.$secondary-color-30 !important;
  }

  &:hover {
    background-color: abs.$secondary-color-10;
  }
}

//--------------------------- size ----------------------------
.button-large {
  padding: 0 2rem 0 1.75rem;
  font-size: 0.9rem;
  font-weight: 500;
  @include abs.border-radius(0.1rem);
  height: 3.25rem;
}

.button-medium {
  padding: 0 1.5rem 0 1.25rem;
  @include abs.border-radius(0.75rem);
  font-weight: 500;
  font-size: 0.9rem;
  height: 2.75rem;
}

.button-small {
  padding: 0 1rem 0 0.75rem;
  @include abs.border-radius(10px);
  font-size: 0.65rem;
  height: 2rem;
  font-weight: 500;
}

.icon-button-large {
  @extend .button-large;
  font-size: 1.4rem;

  padding: 0 1rem;
}

.icon-button-medium {
  @extend .button-medium;
  font-size: 0.9rem;

  padding: 0 0.75rem;
}

.icon-button-small {
  @extend .button-small;
  font-size: 1.4rem;

  padding: 0 0.75rem;
}

//--------------------------- category ----------------------------
//------ primary color button -------
.button-filled-primary {
  @extend .button-primary;
  color: var(--tr-secondary);
  background-color: var(--tr-primary);
}

.button-fair-primary {
  @extend .button-primary;
  color: var(--tr-secondary);
  background-color: abs.$primary-color-70;
}

.button-plain-primary {
  @extend .button-primary;
  background-color: transparent;
  color: var(--tr-primary);
}

.button-outlined-primary {
  @extend .button-primary;
  background-color: transparent;
  border: 2px solid var(--tr-primary);
  color: var(--tr-primary);
}

.button-outlined-fair-primary {
  @extend .button-primary;
  color: var(--tr-primary);
  background-color: abs.$primary-color-20;
  border: 2px solid var(--tr-primary);
}

//------ accent color button -------
.button-filled-accent {
  @extend .button-accent;

  color: var(--tr-primary);
  background-color: var(--tr-accent);

  &:hover {
    background-color: darken(abs.$accent-color, 5);
  }
}

.button-outlined-accent {
  @extend .button-accent;
  color: var(--tr-accent);
  border: solid 3px var(--tr-accent);
}

.button-outlined-filled-accent {
  @extend .button-accent;
  color: abs.$accent-color-20;
  border: solid 3px var(--tr-accent);
}

.button-plain-accent {
  @extend .button-accent;
  color: var(--tr-accent);
  background-color: transparent;
}

.button-fair-accent {
  @extend .button-accent;
  color: var(--tr-accent);
  background-color: abs.$accent-color-10;
}

//------ secondary color button -------
.button-filled-secondary {
  @extend .button-secondary;

  color: var(--tr-primary);
  background-color: var(--tr-secondary);

  &:hover {
    background-color: darken(abs.$secondary-color, 5) !important;
  }
}

.button-outlined-secondary {
  @extend .button-secondary;

  color: var(--tr-secondary);
  border: solid 2px var(--tr-secondary);
}

.button-outlined-fair-secondary {
  @extend .button-secondary;
  color: var(--tr-secondary);
  background-color: abs.$secondary-color-10;
  border: solid 2px var(--tr-secondary);
}

.button-fair-secondary {
  @extend .button-secondary;
  color: var(--tr-secondary);
  background-color: abs.$secondary-color-10;
}

.button-plain-secondary {
  @extend .button-secondary;
  color: var(--tr-secondary);
  background-color: transparent;
}

//--------------------------- states ----------------------------

button:disabled {
  box-shadow: 2px 2px 4px abs.$secondary-color-30;
  opacity: 0.5;
}
