@use '../abstracts' as abs;


//--------------------------- abstract ----------------------------
button{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

//--------------------------- size ----------------------------
.btn-large {
  padding: 0 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 1rem;
  height: 3.25rem;
}

.btn-medium {
  padding: 0 1.5rem;
  border-radius: 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  height: 2.75rem;
}

.btn-small {
  padding: 0 1rem;
  border-radius: 10px;
  font-size: 0.75rem;
  height: 2rem;
  font-weight: 500;
}


//--------------------------- category ----------------------------
.btn-filled{
  color: abs.$primary;
  background-color: abs.$accent_color;
}

.btn-outlined{
  color: abs.$accent_color;
  border: solid 3px abs.$accent_color;
}

.btn-outlined-filled{
  color: abs.$accent_color_20;
  border: solid 3px abs.$accent_color;
}

.btn-plain{
  color: abs.$accent_color;
  background-color: abs.$primary;
}

.btn-plain-filled{
  color: abs.$accent_color;
  background-color: abs.$accent_color_40;
}


.btn-highlighted{
  @extend .btn-filled;
  box-shadow: 0 8px 16px -4px abs.$accent_color_80;
}


.icon-btn-large{
  @extend .btn-large;
  font-size: 1.5rem;
  padding: 0;
  width: 3.5rem;
}

.icon-btn-medium{
  @extend .btn-medium;
  font-size: 1.25rem;
  padding: 0;
  width: 2.75rem;
}

.icon-btn-small{
  @extend .btn-small;
  font-size: 1.5rem;
  padding: 0;
  width: 2rem;
}

.btn-sec {
  color: abs.$secondary_color;
  background-color: transparent;
}

//--------------------------- states ----------------------------

.btn-filled:hover, .btn-highlighted:hover{
  background-color: darken(abs.$accent_color, 5);
}

.btn-plain-filled:focus, .btn-plain:focus{
  outline: 3px solid abs.$accent_color_80;
}

.btn-plain:hover, .btn-outlined:hover, .btn-plain-filled:hover{
  background-color: darken(abs.$accent_color_30, 5);
}

.btn-sec:focus {
  outline: 5px solid abs.$secondary_color_30;
}

button:focus{
  outline: 5px solid abs.$accent_color_30;
}

button:active{
  box-shadow: inset 1px 1px 10px abs.$accent_color_30;
}

button:disabled{
  box-shadow: 2px 2px 4px abs.$secondary_color_30;
  opacity: 0.5;
}




