@use "../abstract" as abs;

//--------------------------- abstract ----------------------------
button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-prime {
  &:hover {
    background-color: darken(rgba(abs.$accent_color, 0.3), 5);
  }

  &:active {
    box-shadow: inset 1px 1px 10px rgba(abs.$accent_color, 0.3);
  }
}

.btn-sec {
  &:focus {
    outline: 2px solid rgba(abs.$secondary_color, 0.5);
  }

  &:active {
    box-shadow: inset 1px 1px 10px rgba(abs.$secondary_color, 0.3) !important;
  }

  &:hover {
    background-color: rgba(abs.$secondary_color, 0.1);
  }
}

//--------------------------- size ----------------------------
.btn-large {
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  height: 3.25rem;
}

.btn-medium {
  padding: 0 1.5rem;
  border-radius: 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  height: 2.75rem;
}

.btn-small {
  padding: 0 1rem;
  border-radius: 10px;
  font-size: 0.75rem;
  height: 2rem;
  font-weight: 500;
}

.icon-btn-large {
  @extend .btn-large;
  font-size: 1.5rem;

  padding: 0 1rem;
}

.icon-btn-medium {
  @extend .btn-medium;
  font-size: 1rem;

  padding: 0 1rem;
}

.icon-btn-small {
  @extend .btn-small;
  font-size: 1.5rem;

  padding: 0 1rem;
}

//--------------------------- category ----------------------------
.btn-filled {
  color: var(--tr-primary);
  background-color: var(--tr-accent);

  &:hover {
    background-color: darken(abs.$accent_color, 5);
  }
}

.btn-outlined {
  @extend .btn-prime;
  color: var(--tr-accent);
  border: solid 3px var(--tr-accent);
}

.btn-outlined-filled {
  @extend .btn-prime;
  color: rgba(abs.$accent_color, 0.2);
  border: solid 3px var(--tr-accent);
}

.btn-plain {
  @extend .btn-prime;
  color: var(--tr-accent);
  background-color: transparent;
}

.btn-plain-filled {
  @extend .btn-prime;
  color: var(--tr-accent);
  background-color: rgba(abs.$accent_color, 0.3);
}

.btn-highlighted {
  @extend .btn-filled;
  box-shadow: 0 8px 16px -4px rgba(abs.$accent_color, 0.8);
}

//------ secondary color button -------
.btn-filled-sec {
  @extend .btn-sec;

  color: var(--tr-primary);
  background-color: var(--tr-secondary);

  &:hover {
    background-color: darken(abs.$secondary_color, 5) !important;
  }
}

.btn-outlined-sec {
  @extend .btn-sec;

  color: var(--tr-secondary);
  border: solid 3px var(--tr-secondary);
}

.btn-outlined-filled-sec {
  @extend .btn-sec;
  color: rgba(abs.$secondary_color, 0.2);
  border: solid 3px var(--tr-accent);
}

.btn-plain-sec {
  @extend .btn-sec;
  color: var(--tr-secondary);
  background-color: transparent;
}

.btn-plain-filled-sec {
  @extend .btn-sec;
  color: var(--tr-secondary);
  background-color: rgba(abs.$secondary_color, 0.1);
}

.btn-highlighted-sec {
  @extend .btn-filled-sec;
  box-shadow: 0 8px 16px -4px rgba(abs.$secondary_color, 0.8);
}

//--------------------------- states ----------------------------

button:disabled {
  box-shadow: 2px 2px 4px rgba(abs.$secondary_color, 0.3);
  opacity: 0.5;
}
