@use "./../abstract" as abs;

.search-bar {
  display: flex;
  background-color: abs.$secondary-color-10;

  @include abs.border-radius(0.75rem);
  width: 100%;
}

.search-bar input {
  background-color: transparent;

  font-weight: 500;
  font-size: 1rem;
  text-overflow: ellipsis;

  @include abs.border-radius(inherit);

  padding: 0 0.5rem;

  width: inherit;

  text-overflow: ellipsis;

  &:focus {
    border: none;
    outline: none;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--tr-secondary);
    font-weight: 500;
    opacity: 0.6; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 500;
    color: var(--tr-secondary);
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: 500;
    color: var(--tr-secondary);
  }
}
