@use "./../abstract" as abs;

.search-bar {
  display: flex;
  background-color: var(--tr-primary);

  @include abs.radius(0.75rem);
  border: 2px solid rgba(abs.$secondary_color, 0.5);

  width: 100%;

  &:has(input:focus) {
    border: 2px solid var(--tr-secondary);
  }
}

.search-bar input {
  background-color: transparent;

  font-weight: 500;
  font-size: 1rem;
  text-overflow: ellipsis;

  @include abs.radius(inherit);

  padding: 0 1rem;

  width: inherit;

  text-overflow: ellipsis;

  &:focus {
    border: none;
    outline: none;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--tr-secondary);
    font-weight: 500;
    opacity: 0.6; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 500;
    color: var(--tr-secondary);
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: 500;
    color: var(--tr-secondary);
  }
}
