@use "./../abstract" as abs;

.search-bar {
  display: flex;
  background-color: var(--tr-primary);
  border: 1.5px solid abs.$secondary-color-20;
  @include abs.border-radius(0.75rem);
  width: 100%;

  svg {
    color: abs.$secondary-color-70;
  }
}

.search-bar input {
  background-color: transparent;

  font-weight: 500;
  font-size: 0.9rem;
  text-overflow: ellipsis;

  @include abs.border-radius(inherit);

  padding-right: 1rem;

  width: inherit;

  text-overflow: ellipsis;

  &:focus {
    border: none;
    outline: none;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--tr-secondary);
    font-weight: 500;
    opacity: 0.6; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 500;
    color: var(--tr-secondary);
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: 500;
    color: var(--tr-secondary);
  }
}
