@use "./../abstract/" as abs;

body {
  color: abs.$primary-color !important;

  .signUp-container {
    .signUp-content {
      .signUp--form {
        .signUp--form-form {
          .signUp--logo {
          }
          .signUp--notes {
            .signUp--notes--main-text {
              font-size: 1.8rem;
              font-weight: 700;
            }
            .signUp--notes--small-text {
              font-size: 0.9rem;
              font-weight: 500;
            }
          }
          .signUp--alternative-signin {
            font-size: 0.9rem;
            font-weight: 700;

            .sign-in--google {
              @include abs.border-radius(16px);

              background-color: abs.$primary-color;
              color: abs.$secondary-color;
            }
          }
          .signUp--or-statement {
            .signUp--horizontal-line {
              height: 2px;
              width: 100%;
            }
          }
          .signUp--fills {
            .signUp--fill--name {
              .signUp--fill--fname {
              }
              .signUp--fill--lname {
              }
            }
            .signUp--fill--email {
            }
          }
          .signUp--submit {
            .signUp--submit-button {
              background-color: abs.$accent-color;
              @include abs.border-radius(16px);
            }
          }
          .signUp--has-account {
            a {
            }
          }
        }
      }

      .signUp--decor-content {
        .signUp--decor-content-main {
          font-size: 3.6rem;
          font-weight: 700;
        }

        .signUp--decor-content-small {
          font-size: 0.9rem;
          font-weight: 400;
        }
      }
    }
  }
}

a {
  cursor: pointer;
  &:hover {
    color: abs.$accent-color-80;
  }
}

.signUp--inputs {
  background-color: transparent;
  border: 2px solid abs.$primary-color-70;

  &:active {
    border: 2px solid abs.$accent-color;
  }
}
