$primary-color: #f9fbfc;
$primary-color-90: rgba($primary-color, 0.9);
$primary-color-80: rgba($primary-color, 0.8);
$primary-color-70: rgba($primary-color, 0.7);
$primary-color-60: rgba($primary-color, 0.6);
$primary-color-50: rgba($primary-color, 0.5);
$primary-color-40: rgba($primary-color, 0.4);
$primary-color-30: rgba($primary-color, 0.3);
$primary-color-20: rgba($primary-color, 0.2);
$primary-color-10: rgba($primary-color, 0.1);

$secondary-color: #1a212f;
$secondary-color-90: rgba($secondary-color, 0.9);
$secondary-color-80: rgba($secondary-color, 0.8);
$secondary-color-70: rgba($secondary-color, 0.7);
$secondary-color-60: rgba($secondary-color, 0.6);
$secondary-color-50: rgba($secondary-color, 0.5);
$secondary-color-40: rgba($secondary-color, 0.4);
$secondary-color-30: rgba($secondary-color, 0.3);
$secondary-color-20: rgba($secondary-color, 0.2);
$secondary-color-10: rgba($secondary-color, 0.1);

$secondary-color-2: #e9eff2;
$secondary-color-2-90: rgba($secondary-color-2, 0.9);
$secondary-color-2-80: rgba($secondary-color-2, 0.8);
$secondary-color-2-70: rgba($secondary-color-2, 0.7);
$secondary-color-2-60: rgba($secondary-color-2, 0.6);
$secondary-color-2-50: rgba($secondary-color-2, 0.5);
$secondary-color-2-40: rgba($secondary-color-2, 0.4);
$secondary-color-2-30: rgba($secondary-color-2, 0.3);
$secondary-color-2-20: rgba($secondary-color-2, 0.2);
$secondary-color-2-10: rgba($secondary-color-2, 0.1);

$accent-color: #f4694d;
$accent-color-90: rgba($accent-color, 0.9);
$accent-color-80: rgba($accent-color, 0.8);
$accent-color-70: rgba($accent-color, 0.7);
$accent-color-60: rgba($accent-color, 0.6);
$accent-color-50: rgba($accent-color, 0.5);
$accent-color-40: rgba($accent-color, 0.4);
$accent-color-30: rgba($accent-color, 0.3);
$accent-color-20: rgba($accent-color, 0.2);
$accent-color-10: rgba($accent-color, 0.1);

$warning_color: #f9c900;
$warning_color_90: rgba($warning_color, 0.9);
$warning_color_80: rgba($warning_color, 0.8);
$warning_color_70: rgba($warning_color, 0.7);
$warning_color_60: rgba($warning_color, 0.6);
$warning_color_50: rgba($warning_color, 0.5);
$warning_color_40: rgba($warning_color, 0.4);
$warning_color_30: rgba($warning_color, 0.3);
$warning_color_20: rgba($warning_color, 0.2);
$warning_color_10: rgba($warning_color, 0.1);

$success_color: #4df454;
$success_color_90: rgba($success_color, 0.9);
$success_color_80: rgba($success_color, 0.8);
$success_color_70: rgba($success_color, 0.7);
$success_color_60: rgba($success_color, 0.6);
$success_color_50: rgba($success_color, 0.5);
$success_color_40: rgba($success_color, 0.4);
$success_color_30: rgba($success_color, 0.3);
$success_color_20: rgba($success_color, 0.2);
$success_color_10: rgba($success_color, 0.1);

$error_color: #f15839;
$error_color_90: rgba($error_color, 0.9);
$error_color_80: rgba($error_color, 0.8);
$error_color_70: rgba($error_color, 0.7);
$error_color_60: rgba($error_color, 0.6);
$error_color_50: rgba($error_color, 0.5);
$error_color_40: rgba($error_color, 0.4);
$error_color_30: rgba($error_color, 0.3);
$error_color_20: rgba($error_color, 0.2);
$error_color_10: rgba($error_color, 0.1);

$info_color: #00a9f1;
$info_color_90: rgba($info_color, 0.9);
$info_color_80: rgba($info_color, 0.8);
$info_color_70: rgba($info_color, 0.7);
$info_color_60: rgba($info_color, 0.6);
$info_color_50: rgba($info_color, 0.5);
$info_color_40: rgba($info_color, 0.4);
$info_color_30: rgba($info_color, 0.3);
$info_color_20: rgba($info_color, 0.2);
$info_color_10: rgba($info_color, 0.1);
