$primary-color: #f9fbfc;

$sa-color: #e9eff2;

$accent_color: #f4694d;

$secondary_color: #1a212f;

light {
  $primary-color: #f9fbfc;
  $sa-color: #e9eff2;
  $accent_color: #f4694d;
  $secondary_color: #1a212f;
}

dark {
  $secondary-color: #f9fbfc;
  $sa-color: #e9eff2;
  $accent_color: #f4694d;
  $primary_color: #1a212f;
}

:root {
  --tr-accent: #{$accent_color};
  --tr-primary: #{$primary-color};
  --tr-secondary: #{$secondary_color};
  --tr-sa: #{$sa-color};
}
