@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-LightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-Italic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-MediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-SemiBold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-SemiBoldItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("frontend/src/fonts/Poppins-BoldItalic.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

$plain-text-font: "Poppins";
